*{

 padding: 0px;
 margin: 0px;
}
    
body{
background-image: url("books-g84259ff87_1280.jpg");
background-repeat: no-repeat;
background-size: cover;
}
    
.fondoingles2{
background-image: url("estatua2.jpeg");
background-repeat: no-repeat;
background-size: 2000px ;
}
    
.fondobiologia2{
background-image: url("oceano.jpeg");
background-repeat: no-repeat;
background-size: 3000px;
}

.fondomatematicas2{
background-image: url("muchachas.jpeg");
background-repeat: no-repeat;
background-size: 1500px;
}
        
.fondosociales2{
background-image: url("nocheestrellada.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

.fondotecnologia2{
background-image: url("galaxia.jpeg");
background-repeat: no-repeat;
background-size: cover;
}

.fondorelijion2{
background-image: url("diosito.jpeg");
background-repeat: no-repeat;
background-size: cover;
}
   
                    
                    
.img{
position: relative;
width: 190px;
height: 190px;
border-radius: 10px;
left: 180px;
background-image: url("medellin.jpe");
}
    
.contenedor{
background: image();
height: 232px;
}
    
.texto{
font-size: 40px;
text-align: justify;
color: white;
}

.contenido{
height: 260px;
width: 100%;
position: relative;
top: 376pxx;
}
        
         

.img{
position: relative;
width: 190px;
height: 190px;
border-radius: 10px;
background-repeat: no-repeat;
left: 180px;
background-image: url("");}
        
.contenedor{
background: image();
height: 230px;}
        
.texto{
font-size: 40px;
text-align: justify;
}
    
.contenido{
height: 280px;
width: 100%;
position: absolute;
top: 410px;}
    
.imagentecnologia2{
background-repeat: no-repeat;
float:left;
height: 200px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("conmutador.jpg");}
         
.imagenbasica{
background-repeat: no-repeat;
height: 200px;
width: 400px;
margin-right:100px;
background-image: url("electronicabasica.jfif");
}


.textotecnologia2{
text-align: justify;
color: rgb(255, 255, 255);
font-size: 20px;}



.img{
position: relative;
width: 190px;
height: 220px;
border-radius: 10px;
background-repeat: repeat;
left: 180px;
background-image: url("medellin.jpeg");}
            
.contenedor{
background: image();
height: 1400px;}
            
.texto{
font-size: 22px;
text-align: justify;
color: white;}
        


.contenido{
height: 1400px;
width: 100%;
position: absolute;
top: 410px;}
             
.textoingles{
text-align: justify;
color: azure;
font-size: 10px;}    



.img{
position: relative;
width: 190px;
height: 280px;
border-radius: 10px;
background-repeat: no-repeat;
left: 180px;
                
.contenedor{
background: image();
height: 230px;}
                
.texto{
font-size: 40px;
text-align: justify;
color: white;}
            
.contenido{
height: 280px;
width: 100%;
position: relative;
top: 129px;}
            
.textomatematicas2{
text-align: left;
color: rgb(0, 5, 5);
font-size: 20px;}

.img{
position: relative;
width: 190px;
height: 290px;
border-radius: 10px;
background-repeat: no-repeat;
left: 180px;
background-image: url("oceano.jpeg");}
                    
.contenedor{
background: image();
height: 230px;}
                    
.texto{
font-size: 40px;
text-align: justify;
color: white;}
                
.contenido{
height: 280px;
width: 100%;
position: absolute;
top: 410px;}
                
.textobiologia{
text-align: left;
color: rgb(0, 5, 5);
font-size: 30px;}

.img{
position: relative;
width: 190px;
height: 190px;
border-radius: 10px;
background-repeat: no-repeat;
left: 180px;
background-image: url("");}
                        
.contenedor{
background: image();
height: 230px;}
                        
.texto{
font-size: 40px;
text-align: justify;
color: white;}
                    
.contenido{
height: 280px;
width: 100%;
position: absolute;
top: 310px;}
                    
.imagensociales2{
background-repeat: no-repeat;
float: left;
height: 200px;
width: 260px;
margin-left: 5px;
margin-right:5px;
background-image: url("carros.jpg");}
                         
.textosociales2{
text-align: justify;
color: rgb(255, 255, 255);
font-size: 20px;
}
} 



.fondosociales3{
background-image: url("fotolluvia.jpg");
background-repeat: repeat;
background-size: 2000px ;
}


.fondoingles3{
background-image: url("fotolluvia.jpg");
background-repeat: repeat;
background-size: 2000px ;
}


.fondomatematicas3{
background-image: url("fotolluvia.jpg");
background-repeat: repeat;
background-size: 2000px ;
}

.fondoreligion3{
background-image: url("fotolluvia.jpg");
background-repeat:repeat;
background-size: 2000px ;
}


.fondotecnologia3{
background-image: url("fotolluvia.jpg");
background-repeat: repeat;
background-size: 2000px ;
}

.fondobiologia3{
background-image: url("fotolluvia.jpg");
background-repeat: repeat;
background-size: 2000px ;
}









    .imagenmatematicas{
        background-repeat: no-repeat;
        float: left;
        height: 400px;
        width: 400px;
        margin-left: 20px;
        margin-right:5px;
        background-image: url("Factorizacion\ suma\ y\ diferencia.jpg");}


        .imagenmatematicas1{
            background-repeat: no-repeat;
            float: left;
            height: 400px;
            width: 400px;
            margin-left: 40px;
            margin-right:5px;
            background-image: url("impares.jpg");}

            .imagenmatematicas2{
                background-repeat: no-repeat;
                float: left;
                height: 400px;
                width: 400px;
                margin-left: 10px;
                margin-right:5px;
                background-image: url("iguales.jpg");}


                .imagenmatematicas3{
                    background-repeat: no-repeat;
                    float: left;
                    height: 400px;
                    width: 400px;
                    margin-left: 10px;
                    margin-right:5px;
                    background-image: url("trinomio.png");}

                    .imagenmatematicas4{
                        background-repeat: no-repeat;
                        float: left;
                        height: 400px;
                        width: 400px;
                        margin-left: 1px;
                        margin-right: 10px;
                        background-image: url("perfecto.jpg");}

                        .imagenmatematicas5{
                            background-repeat: no-repeat;
                            float: left;
                            height: 400px;
                            width: 400px;
                            margin-left: 5px;
                            margin-right: 10px;
                            background-image: url("cuadrado.png");}
    
                            .imagensociales1{
                                background-repeat: no-repeat;
                                float: left;
                                height: 400px;
                                width: 400px;
                                margin-left: 5px;
                                margin-right: 10px;
                                background-image: url("Infografia.jpg");}




                                    .imageningles2{
                                        background-repeat: no-repeat;
                                        float: left;
                                        height: 400px;
                                        width: 400px;
                                        margin-left: 5px;
                                        margin-right: 10px;
                                        background-image: url("israel.jpg");}
    
                                        .imageningles3{
                                            background-repeat: no-repeat;
                                            float: left;
                                            height: 400px;
                                            width: 400px;
                                            margin-left: 5px;
                                            margin-right: 10px;
                                            background-image: url("tolerancia.jfif");}
    

                                            .imageningles4{
                                                background-repeat: no-repeat;
                                                float: left;
                                                height: 400px;
                                                width: 400px;
                                                margin-left: 5px;
                                                margin-right: 10px;
                                                background-image: url("regla\ 2.png");}
        
                            
    
                                                .imageningles5{
                                                    background-repeat: no-repeat;
                                                    float: left;
                                                    height: 400px;
                                                    width: 400px;
                                                    margin-left: 5px;
                                                    margin-right: 10px;
                                                    background-image: url("regla\ 3.jfif");}

                                                    .imageningles6{
                                                        background-repeat: no-repeat;
                                                        float: left;
                                                        height: 400px;
                                                        width: 400px;
                                                        margin-left: 5px;
                                                        margin-right: 10px;
                                                        background-image: url("regla\ 4.jfif");}

                                                        .imageningles7{
                                                            background-repeat: no-repeat;
                                                            float: left;
                                                            height: 400px;
                                                            width: 400px;
                                                            margin-left: 5px;
                                                            margin-right: 10px;
                                                            background-image: url("regla\ 5.jfif");}

                                                            .imageningles8{
                                                                background-repeat: no-repeat;
                                                                float: left;
                                                                height: 400px;
                                                                width: 400px;
                                                                margin-left: 5px;
                                                                margin-right: 10px;
                                                                background-image: url("regla\ 6.jfif");}

                                                                .imageningles9{
                                                                    background-repeat: no-repeat;
                                                                    float: left;
                                                                    height: 400px;
                                                                    width: 400px;
                                                                    margin-left: 5px;
                                                                    margin-right: 10px;
background-image: url("regla\ 7.jfif");} 

.imageningles10{
background-repeat: no-repeat;
float: left;
height: 400px;
width: 400px;
margin-left: 5px;
margin-right: 10px;
background-image: url("regla\ 8.jfif");}

.imagensociales1{
    background-repeat: no-repeat;
    float: left;
    height: 400px;
    width: 400px;
    margin-left: 5px;
    margin-right: 10px;
    background-image: url("Infografia.jpg");}

  

    .imagensociales2{
        background-repeat: no-repeat;
        float: left;
        height: 400px;
        width: 400px;
        margin-left: 5px;
        margin-right: 10px;
        background-image: url("Infografia\ 1.jpg");}
    
        .imagensociales3{
            background-repeat: no-repeat;
            float: left;
            height: 400px;
            width: 400px;
            margin-left: 5px;
            margin-right: 10px;
            background-image: url("Infografia\ 2.jpg");}


           
        
            
            
      
    
    


